<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#22c55e">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Бронирование {{ room_id }}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="stylesheet" href="/static/style.css?v=3">
</head>
<body>

<div class="container">

    <div class="top-panel">

    <h1>Аудитория {{ room_id }}</h1>

    <div class="datetime" style="text-align: left;">
        Панель<br>бронирования
    </div>

    </div>

    <a href="/room/{{ room_id }}" class="switch-page-btn">
        Перейти к экрану аудитории
    </a>

    <a href="/room/" class="switch-page-btn">
        Главное меню
    </a>

    <div class="admin-panel">

        <input type="text" id="name" placeholder="Введите ваше имя">
        <div id="name-error" class="input-error"></div>

        <div class="slots">
            {% for slot in slots %}
            <button class="slot admin-slot" data-slot="{{ slot }}">
                {{ slot }}
            </button>
            {% endfor %}
        </div>

    </div>

</div>

<script>
    const ROOM_ID = "{{ room_id }}";
</script>

<script src="/static/script.js"></script>

</body>
</html>