<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#22c55e">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Аудитория {{ room_id }}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="stylesheet" href="/static/style.css?v=3">
</head>
<body>

<div class="container">

    <div class="top-panel">
        <h1 style="color: #000000;">Аудитория {{ room_id }}</h1>

        <div style="color: #000000;" class="datetime">
            <div id="date"></div>
            <div id="time"></div>
        </div>
    </div>

    <div id="status-card" class="status-card free">
        <h2 id="status-text">Свободна</h2>
    </div>

    <div class="buttons-wrapper">

        <a href="/room/" class="switch-page-btn">
            Главное меню
        </a>

        <a href="/admin/{{ room_id }}" class="switch-page-btn">
            Перейти к бронированию
        </a>

    </div>

    <div class="slots">
        {% for slot in slots %}
        <div class="slot" id="slot-{{ slot }}">
            <div class="slot-time">{{ slot }}</div>
            <div class="slot-status">Свободно</div>
        </div>
        {% endfor %}
    </div>

</div>

<script>
    const ROOM_ID = "{{ room_id }}";
</script>

<script src="/static/script.js"></script>

</body>
</html>